{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Iniciar Sesion</title>
<link rel="stylesheet" href="{% static 'registration/login.css' %}">

<div class="container">

    <div class="form"><form action="" method="post">
        {% csrf_token %}
        <img class="img" src="/static/img/logo.png" alt="">
        
        {{ form.as_p }}

        <p>¿No tienes una cuenta?
        <a class="link" href="{% url 'registro' %}">Registrarse</a></p>
        <button type="submit">Iniciar sesión</button>
    </form></div>

</div>
{% endblock contenido %}
