{% load static %}
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
                    <img class="imagen" src="{% static '/img/logo.png' %}" alt="logo-1">
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p><i class="fa-solid fa-compass"></i> AV. 9 de julio 914</p>
            <p><i class="fa-solid fa-map-location-dot"></i> Resistencia, Chaco</p>
            <p><i class="fa-solid fa-envelope-open"></i> botellasdeamor@ejemplo.com </p>
        </div>
        <div class="box">
            <h2>Seguinos</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/botelladeamor" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/botelladeamor/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Grupo 1</b> - Todos los Derechos Reservados</small>
    </div>
</footer>