{% load static %}
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
                    <img class="imagen" src="{% static '/img/logo.png' %}" alt="logo-1">
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p><i class="fa-solid fa-compass"></i><a href="https://www.google.com/maps/d/viewer?mid=1QBrPiv4TC7PHydND-XuRq2vPXHZBIkAE&ll=-27.44836777480339%2C-58.981751900000006&z=14"> Puntos de acopio</a></i></p>
            <p><i class="fa-solid fa-map-location-dot"></i> Resistencia, Chaco</p>
            <p><i class="fa-solid fa-envelope-open"></i> botellasdeamor@ejemplo.com </p>
        </div>
        <div class="box">
            <h2>Seguinos</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/botelladeamorresistencia" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/botelladeamorresistencia/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Grupo 1</b> - Todos los Derechos Reservados</small>
    </div>
</footer>