{% load static %}
{% block contenido %}
    
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
                    <img class="imagen" src="{% static '/img/logo.png' %}" alt="logo-1">
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p><i class="fa-solid fa-envelope-open"></i> botellasdeamor@ejemplo.com </p>
            <p><i class="fa-solid fa-map-location-dot"></i> Resistencia, Chaco</p>
        </div>
        <div class="box">
            <h2>Seguinos</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/botelladeamorresistencia" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/botelladeamorresistencia/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a>

            </div>
            
        </div>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1QBrPiv4TC7PHydND-XuRq2vPXHZBIkAE&ehbc=2E312F" width="1200px" height="280px"></iframe>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Grupo 1</b> - Todos los Derechos Reservados</small>
    </div>
</footer>
{% endblock contenido %}