{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <link rel="stylesheet" href="{% static 'noticias/articulo.css' %}">
    <title> {{ noticia.titulo }} </title>
    {% endblock title %}

    {% block contenido %}
    <section>
        <h1> {{ noticia.titulo }} </h1>
            <small>Fecha de publicacion: {{ noticia.fechaCreacion }} </small>
            {% if noticia.imagen %}
            <img src="{{ noticia.imagen.url }}">
            {% endif %}
            <article>
               <p> {{ noticia.contenido }} </p>
            </article> 
            {% if noticia.autor %}
            <footer> Escrito por: {{ noticia.autor }}. </footer>
            {%else%}
            <footer> Escrito por: Anonimo. </footer>
            {% endif %}
        <section>
            <h3>Comentarios...</h3>
            <form id="formulario" method="post">
                {% csrf_token %}
                {{ formComentario.as_p }}
                <input type="submit" required="" value="Comentar">
                <button type="submit" onclick="validate();">Borrar todo</button>
                
            </form>
            <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
            {% if comentarios %}
            <p>Comentarios({{ comentarios.count }})</p>
            {% for c in comentarios %}
              <strong>{{ c.nombre }} - {{ c.fecha_de_comentario }}:</strong>
              <p>{{ c.contenido }}</p>
            {% endfor %}
            </br>
            {%endif%}
            
        </section>        
        {% endblock contenido %}