{% load static %}
{% block title %}
<title>Noticias</title>
{% endblock title %}

{% block contenido %}
<body>
    {% if noticias %}
    <section>
        {% for n in noticias %}
        <article>
            <h2> {{ n.titulo }} </h2>
            <footer> Categoria: {{ n.categoria }} - Fecha de creacion: {{ n.fechaCreacion }}</footer>
            <p> {{ n.contenido }}</p>
            <img src="{{ n.imagen.url }}">
            {% if n.autor %}
            <footer> Autor: {{ n.autor }} </footer>
            {% else %}
            <footer> Autor: Anonimo</footer>
            {% endif %}     
        </article>
    </section>
        {% endfor %}
    {% else %}
    <h2>No hay noticias</h2>
    {% endif %}
</body>
{% endblock contenido %}