{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <link rel="stylesheet" href="{% static 'noticias/noticias.css' %}">
    <title>Seccion de noticias</title>
    {% endblock title %}
    
    {% block contenido %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ordenar por </a>
        {% if categorias %}
        <ul class="dropdown-menu">
            <li>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Categorias</a>
                <ul>
                {% for cat in categorias %}

                    <li><a class="nav-link" aria-current="page" href="{% url 'categoria' cat.pk %}"> {{ cat.nombre }} </a></li>
                {% endfor %}
                </ul>
            </li>
            <li>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Fecha</a></li>
                    <ul>
                        <li><a class="nav-link" aria-current="page" href="{% url 'antiguas' %}">Mas antiguas</a></li>
                        <li><a class="nav-link" aria-current="page" href="{% url 'recientes' %}">Mas recientes</a></li>
                    </ul>
            </li>
        </ul>
        {% endif %}
    </li>
    <section>
        {% if randomNoticias %}
            {% for nr in randomNoticias %}
            <li class="card" >
                <div class="card-body">
                    {% if nr.imagen %}
                    <img class="card-img-top" src="{{ nr.imagen.url }}">
                    {% endif %}
                    <h3 class="card-title">{{nr.titulo}}</h3>
                    <p class="description"> {{nr.contenido|slice:500}}...</p>
                    <p>{{ nr.fechaCreacion }}</p>
                    <a class="btn btn-primary" style= "margin-left: 16rem " href="{% url 'articulo' nr.pk %}">Leer mas...</a>
                </div>
            </li>
            {%endfor%}
        {% elif noticias %}
            {% for n in noticias %}
            <li class="card" >
                <div class="card-body">
                    {% if n.imagen %}
                    <img class="card-img-top" src="{{ n.imagen.url }}">
                    {% endif %}
                    <h3 class="card-title">{{n.titulo}}</h3>
                    <p class="description"> {{n.contenido|slice:500}}...</p>
                    <p>{{ n.fechaCreacion }}</p>
                    <a class="btn btn-primary" style= "margin-left: 16rem " href="{% url 'articulo' n.pk %}">Leer mas...</a>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <h2>No hay noticias</h2>
        {% endif %}
    </section>

    {% endblock contenido %}