*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/img/fondo-registro-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {

    width: 25%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px #bce082;
    display: inline-block;
    margin: 2.80rem;
}



.img{
    max-width: 45%;
}

input{
    width: 75%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline:none;
}
label{
    font-size: 100%;
}
button{
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    background-color: #84d600;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #bce082;
    font-size: 18px;
    font-weight: 600;
    border-color: transparent;
    cursor:pointer;
}

button:hover {
    background-color: #619a07;
    transition: all 0.4s;
}
button:hover {
    background-color:#4C8034;
    transition: all 0.4s;
}
p{
    text-align: center;
    padding-bottom: 20px;
}
a {

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color:#439B1B;
    padding-bottom: 20px;


}