*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/img/fondo-registro-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    text-align: center;
}
form {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px #bce082;
    display: inline-block; 
    margin: 1.55rem;
    padding: 0.2rem;
    width: 38%; 
    height: 600px;
}

    

.img{
    width: 18%;
}
input{
    width: 55%;
    padding: 6px;
    margin: 8px 0;
    border-radius: 7px;
    outline: none;

}
label{
    font-size: 15px;
    margin: 3px;
}
button{
    margin: 15px;

    padding: 15px;

    text-decoration: none;
    background-color: #84d600;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    font-size: 15px;
    font-weight: 600;
    border-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color:#4C8034;
    transition: all 0.4s;
}

a {
    text-decoration: none;
    font-weight: 600;
    color:#5BE21B;
}
a:hover {
    color:#439B1B;
}




.formul {
    font-size: 14px;
    color: #84d600;
    display: none;
    padding: 5px;
    text-align: center;
}
.form-text {
    font-size:10px;
    margin: 7px;
}
.formul:active {
    display: block;
    color: red;
}
.form-group {
    margin-top:7px;
}
.login-home {
    padding:7px;
}
.login-home p{
    display:inline;
    margin: 7px;
}

.login-home .inicio {
    display:block;
    margin: 7px;
}
.login-home a {
    color:#4C8034;
    font-size: 15px;
}
