* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/static/img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
}

.card {
    margin: 45px;
    width:75%;
}


nav {
    background-color: rgba(204, 204, 204, 0.693);;
}

nav .container-fluid {
    padding: 0 25px;
}

nav .container-fluid img {
    width:100px;
}
nav .container-fluid .nav-item {
    margin-left: 45px;
}

nav .d-flex {
    margin-right: 15px;
}

.description {
    font-size: 15px;
    padding: 13px;
}

.nav-link {
    font-size: var(--bs-nav-link-font-size= 1.1rem);
}