* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('/static/img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 25px;
    background-color: rgba(204, 204, 204, 0.645);
}

nav img {
    width: 100px;
    margin-left: 35px;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 15px;
    padding: 14px;
    text-decoration: none;
    background-color: #7dc40be4;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px #bce082;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover {
    background-color: #619a07;
    transition: all 0.4s;
}

.slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 350%;
    animation: cambio 25s infinite alternate linear;
}

.slider ul li {
    width:400%;
    list-style: none;
    margin: 10px;
    text-align: center;
}

.slider img {
    width:100%;
    height:510px;
}

@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left:-100%}
    45% { margin-left: -100%;}

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -250%; }
    100% { margin-left: -250%; }

}

@media  screen and (min-width: 340px) and (max-width: 410px)  {
    nav {
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height:250px;
        padding: 0;
    }
    nav img {
        margin-left:0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    nav ul li {
        margin: 8px;
        width: 100%;
        background-color: #619a07;
        padding:8px;
        text-align: center;
    }
    nav ul li a {
        background-color: transparent;
        box-shadow: none;
        font-size: 12px;
    }
    .slider img {
        width: 145px;
        height:225px;
    }
}
@media  screen and (min-width: 410px) and (max-width:540px) {
    nav {
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height:250px;
        padding: 0;
    }
    nav img {
        margin-left:0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    nav ul li {
        margin: 8px;
        width: 100%;
        background-color: #619a07;
        padding:8px;
        text-align: center;
    }
    nav ul li a {
        background-color: transparent;
        box-shadow: none;
        
    }
    .slider img {
        width: 200px;
        height:300px;
    }
}

@media  screen and (min-width: 540px) and (max-width:700px) {
    nav {
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height:250px;
        padding: 0;
    }
    nav img {
        margin-left:0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    nav ul li {
        margin: 8px;
        width: 100%;
        background-color: #619a07;
        padding:8px;
        text-align: center;
    }
    nav ul li a {
        background-color: transparent;
        box-shadow: none;
        
    }
    .slider img {
        width: 225px;
        height:320px;
    }
}
@media  screen and (min-width: 700px) and (max-width:800px) {
    nav {
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height:250px;
        padding: 0;
    }
    nav img {
        margin-left:0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    nav ul li {
        margin: 8px;
        width: 100%;
        background-color: #619a07;
        padding:8px;
        text-align: center;
    }
    nav ul li a {
        background-color: transparent;
        box-shadow: none;
        
    }
    .slider img {
        width: 285px;
        height:380px;
    }
}
