{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'mainn.css'%}">
<link rel="icon" type="image/jpg" href="{% static '/img/log.ico' %}">
<title>BOTELLAS DE AMOR</title> 
{% endblock title %}

{% block contenido %}
    <nav>
        <img class src="{% static 'img/logo.png'%}" alt="">

        <ul>
            <li>
                <a href="{% url 'sobre nosotros' %}">Sobre Nosotros</a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="#">Usuario: {{ user.username }}</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            <li>
                <a href="{% url 'noticias' %}">Noticias</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            </li>
            <li>
                <a href="{% url 'registro' %}">Registrarse</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>

    <div class="slider">
        <ul>
            <li>
                <img src="{% static 'img/slider_1.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_2.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_3.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_4.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_5.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_6.png' %}" alt="botellasdeamor"></li>
            <li>
                <img src="{% static 'img/slider_7.png' %}" alt="botellasdeamor"></li>
        </ul>
    </div>
{% endblock contenido %}