{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main1.css'%}">
    <title>Home</title>

    <title>Botellitas de Amor</title>

</head>
<body>

    <nav>
        <img class src="{% static 'img/logo.png'%}" alt="">


        <ul>
            
            {% if user.is_authenticated %}
            <li>
                <a href="#">Usuario: {{ user.username }}</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            </li>
            <li>
                <a href="{% url 'registro' %}">Registrarse</a>
            </li>
            {% endif %}
            <a href="#text">ir al texto</a>
        </ul>
    </nav>
    <p id="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, molestiae. Eligendi quas esse, fugiat incidunt vel ullam reiciendis nam quidem modi, commodi, pariatur quaerat fugit deserunt? Eum doloribus delectus fuga.</p>
</body>
</html>